body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    /* color: #212529; */
    text-align: left;
    /* overflow-x: hidden; */
    color: white;
    background-color: black;
    background-repeat: none;
    /* background: url(./home/home-banner.jpg); */
    background-size:contain;
    
    /* overflow-x: hidden; */
}
.light {
    background-color:rgb(244 81 30 / 50%) !important;
    /* color: black !important; */
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;
    align-items: center;
}
/* Custom CSS to align navbar items to the right */
.navbar-right {
    margin-left: auto;
    margin-right: auto;
  }
.navbar ul li a.active {
    border: 1px solid #f6806b;
    padding: 5px 9px;
    border-radius: 5px;
}
.dropdown-header{
    border-top: solid 5px;
    border-bottom: solid 5px;
}
.nav-item{
    margin-left:2rem;
}
.dropdown-menu{
    text-align: left !important;
}
.chat img{
    width: 10rem;
    height: 10rem;
}
/* .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin-right:1rem;
}.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.1rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    z-index: 99;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
}
.bg-body-tertiary {
    --bs-bg-opacity:0;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}
.navbar span{
    color:white;
}
.nav-link:focus, .nav-link:hover {
    color: white;
}
.navbar a.active{
    border: 1px solid #f6806b;
    padding: 5px 9px;
    border-radius: 5px;
}
.navbar .navbar-brand :nth-child(1){
    margin-left:8rem;
}
.navbar .navbar-brand :nth-child(2){
    margin-right:8rem;
}
.navbar-nav{
    margin-left: 2rem;
    margin-top:1rem;
} */
.borders{
    
        display: block;
        width: 100%;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: var(--bs-dropdown-link-color);
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-top:#9d1b62 solid;
        border-bottom:#9d1b62 solid;
       /* border-radius: var(--bs-dropdown-item-border-radius,0); */

}
.btnwrp {
    background: linear-gradient(260deg, rgb(9 27 60), rgb(17 94 234));
    padding: 8px 20px;
    border-radius: 7px;
    text-decoration: none;
}
a{
    color: white;
}
.martin{
    margin-left:20rem;

    /* display: flex;
    flex-direction: row; */

}

.light{
    background-color: white;
    /* color:black !important; */
}
.dark{
    color:#000 !important;
    background-color: white;
}
@media (max-width: 1200px) {
    /* Set display to none for screens with width less than 768px (desktop size) */
    .flag {
        display: none;

    }

    .cover{
        margin-bottom:0;
        margin-left:8rem;
        display:block;
        flex-direction:column;
    }
    .big::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 163%;
        background-image: url('./home/cover3.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.7; /* Adjust the opacity to your preference */
        z-index: -1; /* Ensures the ::before pseudo-element is placed behind the content */
      }
}
@media screen and (max-width: 768px) {
    /* CSS rules for smaller screens */
    .cover {
      flex-direction: column;
      margin-left: 2rem; /* Adjust the left margin for smaller screens */
    }
}  

@keyframes blink {
    0% { color: white; } /* Starting color (black in this case) */
    50% { color: orange; } /* Color to blink (red in this case) */
    100% { color: white; } /* Back to the starting color */
}

/* Apply the blinking animation to the text with class "blink-text" */
.blink-text {
    animation: blink 0.5s infinite; /* 1s represents the duration of each iteration */
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 1rem;
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
/* cover */
.cover span{
    color:rgb(233, 107, 77);
}
.cover .list li:before {
    content: "\2713"; /* Unicode character for tick (√) */
    margin-right: 5px; /* Add some space between the icon and text */
    color:#9d1b62
}
.cover h1{
    line-height: 2.5rem;
}
.list{
 font-size: 1.25rem;
}
.fixed{
    position: fixed !important;
    margin-bottom: 2rem;
}

.cover{
    margin-top: 10rem;
    margin-bottom: 0;
    margin-left:0rem;
    display: flex;
    flex-direction: row;
}
.filling{
    border:1px solid #ce225c;
    color: #fff;
    background: #080a23e0;
    padding:4rem 2.5rem 40px;
    border-radius: 5px;
    width: 60%;
    margin: 2rem auto 0;
    position: relative;
    z-index: 9;
    float:center;
}
.big::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 146%;   
    background-image: url('./home/cover5.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Adjust the opacity to your preference */
    z-index: -1; /* Ensures the ::before pseudo-element is placed behind the content */
  }
.input-field [type=submit] {
    color: #fff;
    border-radius: 8px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border: 0;
    outline: none;
    background: #b10655;
    background-image: linear-gradient(to right,rgb(17 94 234) 0%,#9E1B62 100%);
    height: 50px;
    width: 100%;
}

form .input1,form .input2{
    width: 49%;
    padding: 10px;
    margin: 0 0 12px;
    border-radius: 6px;
    border: 1px solid #dad4d4;
    color: #333;
    height: 47px;
    font-size: 16px!important;
    border-color: #ffffff5e;
    appearance: auto;
    color: #000;
    outline: none;
}
form .input3,form .input4{
    width: 100%;
    padding: 10px;
    margin: 0 0 12px;
    border-radius: 6px;
    border: 1px solid #dad4d4;
    color: #333;
    height: 47px;
    font-size: 16px!important;
    border-color: #ffffff5e;
    appearance: auto;
    color: #000;
    outline: none;
}
.hov1 {
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1rem;
    margin-top:-2rem
  }
  .hov2 {
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1rem;
    margin-top:-2rem
  }
  .hov1:hover {
    transform: translateY(-20px); 
  }
  .hov2:hover {
    transform: translateY(-20px); 
  }

  .cht1 {
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1rem;
    margin-top:-2rem
  }
  .cht1:hover {
    transform: translateY(-20px); 
  }



  /* animations */
 .reveal{
    position:relative;
    transform:translateY(-150px);
    opacity:0;
    transition:all 1s;
}
.reveal.active{
    transform:translateY(0px);
    opacity:1;
}
/* footer */
.rev{
    position:relative;
    transform:translateY(-150px);
    opacity:0;
    transition:all 1s;
}
.rev.active{
    transform:translateY(0px);
    opacity:1;
    margin-left:auto;
    margin-right:auto;
}
.oo{
    position:relative;
    transform:translateY(-150px);
    opacity:0;
    transition:all 2s;
    padding-bottom: 2rem;
}
.oo.active{
    transform:translateY(0px);
    opacity:1;
}

.reveal1{
    position:relative;
    transform:translateY(-100px);
    opacity:0;
    transition:all 1s;
}
.reveal1.active{
    transform:translateY(0px);
    opacity:1;
}
/* sidebar form */
.form{
    position:relative;
    transform:translateX(-150px);
    opacity:0;
    transition:all 1s;
}
.form.active{
    transform:translateX(0px);
    opacity:1;
}
/*  */
.sidebar-form {
    position: fixed;
    top: 60%;
    left: -370px;
    width: 370px;
    z-index: 9;
    box-shadow: 0 0 30px #0000001f;
    border-radius: 0 10px 10px 0;
    background-color: #8d2372;
    padding: 20px;
    transform: translateY(-50%);
    transition: left 0.4s linear;
    height: 70%;
    padding-bottom: 0.5rem;
}
.sidebar-form.show{
    left:0;
}
.sidebar-form .call-action {
    background: linear-gradient(180deg,rgb(17 94 234) 0%,#9E1B62 100%);
    box-shadow: -20px 7px 18px -7px rgb(168 164 164/20%);
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    color: white;
    width: 191px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    right: -115px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}
.sidebar-form h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color:#000;
}
.sidebar-form .form-group{
    margin-bottom: 10px;
}
.sidebar-form input[type=submit] {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(to right,rgb(17 94 234) 0%,#9E1B62 100%);
    border-radius: 3px;
    text-align: center;
    width: 100%;
    padding: 8px 15px;
    margin: 2px 0 0;
    border: transparent;
}
/* branding */
/* Slider container styles */
.brend{
    background: grey;
    margin-top: 2rem;
}
.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px*14);
}
.slider .slide{
    height: 100px;
    width: 250px;
}
@keyframes scroll {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*7));
    }
}
.content{
    padding: 4rem;
    padding-left: 5rem;
}
.content{
    position:relative;
    transform:translateX(-150px);
    opacity:0;
    transition:all 1s;
}
.content.active{
    transform:translateX(0px);
    opacity:1;
}

.content .hov1{
  margin-top:1rem;
  width: 80%;
 
}
.content .hov2{
    margin-top:1rem;
    /* width: 55%; */
    display: inline-block;
   
  }
.content p{
    padding-top: 1rem;
    line-height: 21px;
    padding-bottom: 1rem;
}
.round i{
    border-radius: 5rem;
    background: white;
    color: #561020;
    font-size: 3rem;
    padding: 0.8rem;
    
}
.round .first {
    margin-right: 15rem;
    color: #561020;
    margin-left: -3rem;
    margin-top: 0rem;
}
.round .second {
    margin-right: 17rem;
    color: #561020;
    margin-left: -3rem;
    margin-top: -3rem;
}
.round {
    margin: 2rem 0rem 0rem;
    padding: 3rem 0rem 3rem;
    border-radius: 50%;
    border: solid 0.5px;
    padding-bottom: 4rem !important;
}
.round .d-flex {
    margin-right: 0rem !important;
    margin: 2rem 1rem 1rem;
}
  .cent1 {
    display: none;
  }
  
  .round .fa-laptop:hover ~ .center .cent1:first-child {
    display: block;
  }
  
  .round .fa-volume-low:hover ~ .center .cent1:nth-child(2) {
    display: block;
  }
  .circle .center{
    margin-bottom: 5rem;
  }
  .round i:hover{
    border-radius: 5rem;
    background: black;
    color:white;
    font-size: 3rem;
    padding: 0.8rem;
}

/*  */
.consult{
    background: linear-gradient(to right,#ffc107 0,#958a69 100%);
    padding: 0.7rem;
    color: #001c44;
}
.chat h2{
    margin: 0;
    padding:0;
}
.chat i{
    font-size: xxx-large;
}

.buttons{
    padding-top: 2rem;
}

/* packages */
.packages {
    padding-bottom: 2rem;
    padding: 0;
    width: 100%;
    background:linear-gradient(260deg, rgb(9 27 60), transparent);
    color: #001c44;
;
    background-repeat: no-repeat; /* Prevent gradient repetition */
    background-size: 100% 100%; /* Make the gradient fill the entire element */
    background-origin: padding-box; /* Ensure the gradient starts from the padding box */
    -webkit-background-origin: padding-box; /* For webkit-based browsers */
    -moz-background-origin: padding-box; /* For Mozilla-based browsers */
    -ms-background-origin: padding-box; /* For Microsoft Edge */
    background-clip: content-box; /* Clip the background to the content box */
    -webkit-background-clip: content-box; /* For webkit-based browsers */
    -moz-background-clip: content-box; /* For Mozilla-based browsers */
    -ms-background-clip: content-box; /* For Microsoft Edge */
  }
.heading{
    margin:3rem;
}
.sub-packages ul li{
    /* margin-right: 3rem; */
    color: #ffb8b8;
    font-size: large;
    border-radius: 14%;
    border: #ad0081 solid;
    padding: 0rem;
    margin: 1rem;
    cursor: pointer;
}
.startup span{
    text-decoration: line-through;
    margin-top: 0.7rem;
}
.startup li.checkmark::before {
    content: "\2714"; /* Heavy checkmark symbol (✔) */
    margin-right: 10px; /* Adjust the spacing between the marker and the text */
  }
.startup{
    color:white;
    margin-inline: auto;
    width: fit-content;
    padding-right: 3rem;
    padding-top: 2rem;
    background: linear-gradient(238deg, rgb(13 27 50), transparent);
    border-radius: 7%;
    padding-left: 1rem;
    border: solid 0.1px #2196F3;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
    /* margin-left: 0rem; */
    margin-top: 2rem;
}
.startup:hover{
    border:solid 5px #ffc107 ;
    transform:scale(1.05) translateZ(10px);;
}
.startup span{
    color:#f58f46;
    font-size:medium;
}
.startup li{
    font-size: larger;
}
#ecom{
    display: none !important;
}
.online .content{
    padding: 0rem 0rem 0rem !important;
}
.online{
    background: linear-gradient(45deg, rgb(17 94 234), #ffc107);
    color: black;
    padding: 5rem;
}
.online .buttons {
    justify-content: flex-end;
    padding-top: 2rem;
    padding-left: 0rem;
}
.online .buttons div{
    margin:5px
}
.online .btnwrp {
    background:  linear-gradient(260deg, rgb(9 27 60), rgb(17 94 234));
    padding: 7px 17px;
    border-radius: 6px;
    border: black solid 0.1rem;
    text-decoration: none;
}
.online p{
        font-size: large;
        padding-top:0 !important;
        padding-left:0 !important;
    
}
.online img{
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    align-items: center;
    display: block;
    justify-content: center;
    /* margin-bottom: auto; */
    margin-top: 2rem;
    border-radius: 20%;
}
.online .cht1 {
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1rem;
   margin-top: -2rem;
}
.online .hov1 {
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 1rem;
    margin-top: -2rem;
}
/*  */
.transform{
    background:linear-gradient(45deg, rgb(17 94 234), transparent);
}
.img-container{
    width: 25%;
}
.recog .img-container img{
    /* margin-left: 14rem; */
    width: 7rem;
    float: center;
    height: 5rem;
}
.transform h3{
    color: #3b0e40;
    letter-spacing: 0.4rem;
    font-weight: 800;
}
.transform p{
    font-size: 1rem;
    line-height: 23px;
    font-weight: 600;
}
.transform .content{
    padding-bottom: 0rem;
}
.transform{
    padding-bottom: 0rem;
}
.transform .recog{
    padding-bottom: 2rem; 
}
/* form */
.before form input{
    margin-top:2rem;
    padding: 1rem;
    background: transparent;
}
.before form input:nth-child(2){
    margin-left: 4rem;
}
.before{
    color:black;
    background: white;
}
.before form{
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.before textarea{
    margin-top: 2rem;
}
.before form input[type=text],.before form input[type=email],
.before form input[type=tel]{
    border: 1px solid #b2b9c1;
    border-radius:1rem;

}
.before textarea{
    padding:1rem 0rem 1rem  1rem;
    border: 1px solid #b2b9c1;
   border-radius:1rem;
}
.before img{
    width: 75%;
    margin: auto;
    /* height: 10%; */
}
.before form input[type=submit] {
    display: inline-block;
    transform: translateY(0rem);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    background:linear-gradient(260deg, rgb(9 27 60), rgb(17 94 234))!important;
    -o-transition: .4s;
    transition: .4s;
    color: #fff;
    /* background: linear-gradient(to right,rgb(129,40,185) 0%,#0c6ed6 100%); */
    border: none;
    padding: 10px 41px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.before form input[type=submit]:hover {
    display: inline-block;
    color: #fff;
    transform: translateY(-0.625rem);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.before{
    padding-bottom: 8rem;
}
 footer hr {
    margin: 1rem 4rem;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}
footer .footer-center  img{
    width: 95%;
}
footer .footer-center .divm{
    padding-left: 0rem;
}
footer .footer-center .icons i{
    padding-right:1rem;
    font-size: 1.5rem;
}
footer .footer-center .icons {
    padding-right: 2rem;
    padding-top: 1rem;
}
footer .footer-center .icons {
    padding-left: 8rem;
}
.right-align-content {
    text-align: right;
  }
.heading{
    color: #fff;
    font-size: 18px;
    padding: 0 0 20px;
    background: linear-gradient(to right,rgb(233,154,40) 0%,rgb(233,39,133) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 1rem 0rem 2rem;
}
.br{
    border-bottom: 1px solid #363636;
    border-top: 1px solid #363636;
    padding: 20px 0 20px;
    margin: 15px 0 15px;
}
footer .footer-top a{
    text-decoration: none;
}
footer .footer-bottom{
    padding-bottom: 2rem;
}

.pic {
    display: block;
  }
  
  /* Hide the div on smaller screens */
  @media (max-width: 768px) {
    .pic {
      display: none;
    }
  }

  .pic img{
    margin-left: auto ;
    margin-right:auto;
}
/* work */
.category {
    display: none;
  }
  .selected {
    color: white; /* Change this to the desired color */
    background-color: blue; /* Change this to the desired background color */
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Modal Content */
  .modal-content {  
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
  }

  /* Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
/* work ends */
  /* Media query for screens larger than 768px */
  .template-container{
    padding-top:3rem;
    padding-bottom: 1rem;
    background:black;
  }
 .template-container img{
    width: 100%;
    /* height: 400%; */
    transform: translateY(0);
    transition: all 2s;
    border-radius: 2%;
    margin: 5px;
 }
 .template-container .divv{
    overflow: hidden;
    height: 25rem;
    /* border:solid 1px white; */
 }

 .template-container img:hover{
    transform: translateY(-525px);
    /* transform: scale(1.5); */
 }

.template-container .content.active {
    transform: translateX(0px);
    opacity: 1;
}
.template-container  .content {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s;
}
.template-container  .content {
    padding: 4rem;
    padding-left: 5rem;
}
.template-container .content p {
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 21px;
    padding-bottom: 1rem;
    /* padding-left: 15rem; */
    /* padding-right: 15rem; */
    line-height: 2rem;
}
.template-container h1{
    font-weight: 900;
}
.template-container ul li{
    font-size: x-large;
    border: 6px solid #0f70ff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    border-radius: 30%;
    letter-spacing: 1px;
    margin:5px;
}
.template-container ul li:hover{
    background: orange;
    color:black;
}
.startup a{
    text-decoration: none;
}